@using GISDevelopment.Models.DTOs
@model IEnumerable<GISDevelopment.Models.DTOs.RestaurantDTO>

@{
    ViewData["Title"] = "Restaurants";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@latest/ol.css">
    
</head>

<body>
<table width="100%">
    <tr>
        <td width="20%">
            <h2> Restaurants </h2>
            @foreach (RestaurantDTO dto in Model)
            {
                <p> <a href='#' onclick="loadPoint(entityTypes.ItalianRestaurant, @dto.Id)"> @dto.Name </a> </p>
            }
        </td>
        <td valign="top">
            <h2> Restaurants in the Map </h2>
            <div id="map" style="width: 100%; height: 1000px; float: right;"> </div>
            <div class="row">
                <div class="col-auto">
                    <span class="input-group">
                        <label class="input-group-text" for="type">Geometry type:</label>
                        <select class="form-select" id="type">
                            <option value="Point">Point</option>
                            <option value="LineString">LineString</option>
                            <option value="Polygon">Polygon</option>
                            <option value="Circle">Circle</option>
                            <option value="None">None</option>
                        </select>
                        <input class="form-control" type="button" value="Undo" id="undo">
                    </span>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
<script src="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.js"></script>
<script src="js/openLayersFunctions.js"></script>
<script src="js/constants.js"></script>
<script>
    var map; // Global variable for the map    
    initialiseMap(centralItaly);
</script>
<script type="module" src="js/drawingFunctions.js"></script>

</html>