@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Landscape Explorer. </h1>
    <p> This application has been developed for the Geographic Information Systems Development course.</p>
    <img src="favicon.ico" alt="Landscape Explorer Logo" class="img-fluid w-25"/>
</div>
